@tailwind base;
@tailwind components;
@tailwind utilities;

span{
    @apply font-bebas
}

.shad{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.btn {
    background-color: #D7BCE8;
    border: none;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 3em;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;
    border-radius: 15px;
  }
  .btn:active {
    transform: translateY(4px);
  }
